<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581999805608-vahlgmfssfuh7vjlr2b6m8kc8mi5dlrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581999805608-vahlgmfssfuh7vjlr2b6m8kc8mi5dlrd</string>
	<key>API_KEY</key>
	<string>AIzaSyBfHy-RZGauXQbceevrv4OXJkcR3a2UMWU</string>
	<key>GCM_SENDER_ID</key>
	<string>581999805608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.testproject</string>
	<key>PROJECT_ID</key>
	<string>testproject-406ab</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-406ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581999805608:ios:f2532b9f6041a229602e9d</string>
</dict>
</plist>